@model CreateLinkViewModel

@{
    ViewBag.Title = "IsNSFW - The SFW way to share NSFW content";
}

<div class="jumbotron p-3 shadow">
    <h1>The <em>Safe For Work</em> way to share <em>Not Safe For Work</em> content</h1>
    
    @Html.ValidationSummary()

    @using (Html.BeginForm(FormMethod.Post, null, new { @class = "form-horizontal" }))
    {
        <div class="form-group row">
            <label for="@Html.IdFor(m => m.Url)" class="col-sm-4 col-lg-2 col-form-label">URL</label>
            <div class="col-sm-8 col-lg-10">
                @Html.TextBoxFor(m => m.Url, new { @class="form-control", @placeholder = "http://..." })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-lg-2 col-form-label">Rating</label>
            <div class="col-sm-8 col-lg-10 tags-list">
                @Html.EditorFor(m => m.Tags)
            </div>
        </div>

        <div class="form-group row">
            <label for="@Html.IdFor(m => m.Key)" class="col-sm-4 col-md-3 col-lg-2 col-form-label order-md-3"><span class="d-inline d-sm-none d-md-inline">Custom</span> Alias</label>
            <div class="col-sm-8 col-md-3 col-lg-6 order-md-4">
                @Html.TextBoxFor(m => m.Key, new { @class = "form-control", @placeholder = "(optional)" })
            </div>

            <div class="d-block d-md-none m-2"></div>

            <span class="col-form-label col-md-4 col-lg-2 d-none d-md-block order-md-1">
                Done
            </span>
            <div class="col-md-2 col-lg-2 order-md-2">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    }

</div>
